body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: #efeee7;
}

h1 {
    font-weight: bold;
    color: teal;
}

h2 {
    font-weight: bold;
    color: teal;
}

h5 {
    font-weight: bold;
    color: teal;
    text-align: center;

}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
}

a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: teal;
    font-size: 20px;
    font-weight: bold;
}

.col-md-4{
    background-color: #efeee7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-md-8{
    background-color: #efeee7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-md-12{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    line-height: 2;
}


.container {
    background:white;
}

.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

#menu-image {
    width: 150px;
    height: 150px;
}

#comp-image {
    width: 500px;
}

